<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-4 m-2">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 border-0" *ngFor="let i of data.articles">
                    <div class="card shadow h-100">
                        <img height="300px" src="{{i.urlToImage}}" class="card-img-top" alt="...">
                        <p class="card-text m-2">{{i.publishedAt}}</p>
                        <p class="card-text m-2">{{i.author}}</p>
                        <div class="card-body">
                          <h3 class="card-title">{{i.title}}}</h3>
                          <h6 class="card-body">{{i.description}}</h6>
                          <p class="card-body">{{i.content}}</p>
                          <div class="text-end mr-3">
                            <a href="{{i.url}}" class="btn btn-primary">Know More</a>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>